div {
  margin: 0;

}
body {
  display: flex;
  align-items: stretch;
}
#grid {
  display: flex;
  flex-direction: column;
  
  border: 3px solid black;
  flex: auto;
  max-width: 800px;
  max-height: 800px;
  min-height: 800px;
}

.cell {
  border: 1px solid rgba(122, 121, 121, 0.3);
  width: 100%;

}

.dark {
  background-color: rgb(0, 45, 56);
  border: 1px solid rgba(122, 121, 121, 0.3);
}

.row {
  height: 100%;
  display: flex;
}